h1 {
  font-family: "dancing script", cursive;
}

.para-part-1 {
  font-family: "Open Sans", sans-serif;
}

.para-part-2 {
  font-family: "Open Sans", sans-serif;
}

@media only screen and (min-width: 15em) {

  html {
    background-color: #903;
    color: #fff;
  }

}

@media only screen and (min-width: 38em) {

  html {
    color: #fff;
  }

}

@media only screen and (min-width: 60em) {

  html {
    background-color: #fc0;
    color: #000;
  }

}
